# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.override.tf
*.override.tf.json
.terraform.lock.hcl

# Vars / secrets (keep out of git)
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json

# OS
.DS_Store
Thumbs.db
